*.d.ts
*.js
node_modules
cdktf/cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
cdktf/tsconfig.tsbuildinfo
!cdktf/jest.config.js
!cdktf/setup.js
/.idea/
.pytest_cache
/idp-services/build
pwd
.DS_Store
__pycache__